<div id="footer">Redis is a very simple Twitter clone written in Golang as example application of the <a href="https://github.com/wintersone/SimpleGo.git">Redis database</a></div>
</div>
</body>
</html>